{% extends "szablon.html" %}
{% block tytul_strony %}List klas {% endblock %}
{% block h1 %}Klasy{% endblock %}
{% block lead %}{% endblock %}
{% block h2 %}Lista klas{% endblock %}
{% block tresc%}


<ul>
  {% for klasa in klasy%}
  <li>
    <div>
      Identyfikator: {{klasa.id}} <br>
      Nazwa klasy: {{klasa.nazwa}} <br>
      Rok naboru: {{klasa.rok_naboru}} <br>
      Rok matury: {{klasa.rok_matury}} <br>
    </div>

    <a href="{{ url_for('edytuj_klase', klasa_id=klasa.id) }}">
      <button class="btn btn-success">Edytuj</button>
    </a>

    <a href="{{url_for('usun_klase', klasa_id=klasa.id)}}">
      <button class="btn btn-danger">Usuń</button>
    </a>


  </li>
  {% endfor %}
</ul>

  
{% endblock %}

