{% extends "szablon.html" %}
{% block tytul_strony %}Usuń klasę {{ klasa.nazwa}} {% endblock %}
{% block h1 %}Usuń klasę{% endblock %}
{% block lead %}Potwierdź usunięcie klasy{% endblock %}
{% block h2 %}Czy napewno chcesz usunąć klasę {{ klasa.nazwa }} ?{% endblock %}
{% block tresc%}

Dane szczegółowe:
<br>
Nazwa klasy: {{ klasa.nazwa }}
<br>
Rok naboru: {{ klasa.rok_naboru }}
<br>
Rok matury: {{ klasa.rok_matury }}
<br>

<form method="POST">
  <button class="btn btn-danger">Usuń</button>
</form>

<a href="{{ url_for('index')}}">
  <button class="btn btn-success">Rezygnuję</button>
</a>


{% endblock %}

